.container {
    height: auto;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 55px;
    background-color: rgb(220, 220, 189);
    border: 10px solid silver;
    border-radius: 30px;
  }

  i{
    padding-bottom: 10px;
  }

  a{
    text-align: left;
    padding-bottom: 0px;
    color:rgb(42, 4, 255);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
  }

  input[type="email"],
  input[type="email"], input[type="date"] {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="text"], input[type="number"] {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-image: linear-gradient(rgb(0, 89, 255), rgb(147, 57, 130));
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2410dc;
  }